<div class="hive-id-modal__overlay" on:click="onClickOverlay(event)">
    <div class="hive-id-modal__content">
        {#if state.pending && !state.expire}
        <AuthSpinner></AuthSpinner>
        {:elseif data !== null && !state.expire && !state.scanned}
        <QRCode qr="{data.qr_code}" on:close="destroy()"></QRCode>
        {:elseif state.expire}
        <div>
            <h3>It looks like you need more time.<br/>Please click retry to get a new QR code.</h3>
            <button on:click="onRetry()" class="hive-id-modal__button hive-id-modal__button_retry">Retry</button>
            <button on:click="destroy()" class="hive-id-modal__button_cancel">Cancel</button>
        </div>
        {:elseif state.scanned}
        <AuthSpinner></AuthSpinner>
        {/if}
    </div>
</div>

<script>
    import {setDeep} from 'svelte-extras';
    import {createSession, pollingRequest} from '../libs/request';
    import AuthSpinner from './auth-spinner.html';
    import QRCode from './qr-code.html';

    const defaultData = {
        intervalId: null,
        state: {
            pending: false,
            expire: false,
            scanned: false,
        },
        data: null
    };

    export default {
        components: {
            AuthSpinner,
            QRCode
        },
        data() {
            return {
                intervalId: null,
                state: {
                    pending: false,
                    expire: false,
                    scanned: false,
                },
                data: null
            }
        },
        oncreate() {
            this.downloadQR();
        },
        ondestroy() {
            clearInterval(this.intervalId);
        },
        methods: {
            onScanned() {
                this.setDeep('state.scanned', true);
            },
            onComplete(data) {
                this.store.get().callback(data);
                this.destroy();
            },
            onRetry() {
                this.set({
                    intervalId: null,
                    state: {pending: false, expire: false, scanned: false},
                    data: null
                });

                this.downloadQR();
            },
            downloadQR() {
                this.setDeep('state.pending', true);

                createSession(this.store.get().apiId, (res) => {
                    this.setDeep('state.pending', false);
                    console.log(res.data.session_id);
                    this.set({data: res.data});

                    this.intervalId = pollingRequest(
                        res.data.session_id,
                        this.onComplete.bind(this),
                        () => {
                            setTimeout(() => {
                                clearInterval(this.intervalId);
                                this.setDeep('state.expire', true);
                            }, +res.data.active_until - (+Date.now()));
                        },
                        this.onScanned.bind(this)
                    );
                });
            },
            onExpire() {
                this.setDeep('state.expire', true);
            },
            onClickOverlay({currentTarget, target}) {
                currentTarget === target && this.destroy();
            },
            setDeep,
        }
    }
</script>

<style>
    .hive-id-modal__overlay {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: var(--hive-id-modal-z-index, 100001);
        background: var(--hive-id-modal-overlay-background, rgba(0, 0, 0, 0.7));
    }

    .hive-id-modal__content {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        max-width: var(--hive-id-modal-content-max-width, 570px);
        max-height: var(--hive-id-modal-content-max-height, 570px);
        margin: var(--hive-id-content-margin, 20px 15px);
        padding: var(--hive-id-content-padding, 40px);
        background: var(--hive-id-modal-content-background, rgb(255, 255, 255));
        border-radius: var(--hive-id-modal-content-border-radius, 4px);
        outline: none;
    }

    :global(.hive-id-modal__content h3) {
        margin-bottom: 28px;
        font-size: var(--hive-id-modal-header-font-size, 18px);
        color: var(--hive-id-modal-header-color, #3E466D);
        line-height: 28px;
        text-align: center;
        font-weight: 500;
    }

    :global(.hive-id-modal__content button) {
        background: none;
        border: none;
        outline: none;
        box-shadow: none;
        cursor: pointer;
    }

    :global(.hive-id-modal__header a) {
        color: #6743DF;
    }

    :global(.hive-id-modal__button_cancel) {
        display: block;
        margin: var(--hive-id-modal-button-cancel-margin, 38px auto 0);
        color: var(--hive-id-modal-button-cancel-color, #6743DF);
        font-size: 18px;
        line-height: 28px;
    }

    .hive-id-modal__button_retry {
        background: var(--hive-id-modal-button-retry-background, linear-gradient(45deg, #925DFB 0%, #6743DF 100%));
        padding: var(--hive-id-modal-button-retry-padding, 17px 66px);
        margin: var(--hive-id-modal-button-retry-margin, 90px auto 52px);
        display: block;
        border-radius: 29px;
        font-size: 20px;
        color: var(--hive-id-modal-button-retry-color, #FFFFFF);
        letter-spacing: 0;
        text-align: left;
        line-height: 24px;
    }
</style>
