<div>
    <h3 class="hive-id-modal__header">
        Use the <a href="/">Hive ID mobile</a> application to scan the QR code
    </h3>
    <div class="hive-id-modal__img">
        <img src="{qr}" alt="">
    </div>
    <button on:click="fire('close')" class="hive-id-modal__button hive-id-modal__button_cancel">Cancel</button>
</div>

<style>
    .hive-id-modal__img {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 300px;
        max-height: 300px;
        position: relative;
        margin: 0 auto;
    }

    .hive-id-modal__img img {
        width: 100%;
    }
</style>